@use "../mixins/mixins-master" as mixins;
@use "../variables-site/variables-site" as *;
@use "../mixins/mq" as mq;
@use 'sass:color';

.dekiru {
	letter-spacing: 0.125em;
	font-weight: 700;
	font-stretch: condensed;
}

:root {
	--gap: 20px;
	--gap-half: calc(var(--gap) / 2);
	--gap-double: calc(var(--gap) * 2);
}

* {
	box-sizing: border-box;
}

::selection {
	color: white;
	background: rgba($color_black,0.75);
}

html,
body {
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
	// set a scroll-margin-top if needed
}

body {

	&.menu-active {
		overflow: hidden;
		// position: fixed;
	}
}

.site {
	padding-left: var(--gap);
	padding-right: var(--gap);
	
	@include mq.mq($from: small) {
		padding-left: var(--gap-double);
		padding-right: var(--gap-double);
	}

	@include mq.mq($from: medium) {
		padding-left: 0;
	}
}

.site-header,
.site-main,
.site-footer {
	max-width: 1400px;
	
	@include mq.mq($from: medium) {
		margin-left: calc(30% + 20px);
		width: calc(70% - 20px);
	}

	@include mq.mq($from: mediumlarge) {
		margin-left: calc(33.3% + var(--gap));
		width: calc(66.6% - var(--gap));
	}
}

.aside {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100dvh;
	display: none;

	@include mq.mq($from: medium) {
		display: block;
		width: calc(30% - var(--gap));
	}

	@include mq.mq($from: mediumlarge) {
		width: calc(33.3% - var(--gap));
	}
}

img,
iframe,
video {
	display: block;
}

.hidden {
	display: none;
}

