@use "../mixins/mixins-master" as mixins;
@use "../variables-site/variables-site" as *;
@use "../mixins/mq" as mq;

:root {
	--gap: 20px;
	--gap-half: calc(var(--gap) / 2);
	--gap-double: calc(var(--gap) * 2);
}

* {
	box-sizing: border-box;
}

::selection {
	color: white;
	background: rgba($color_black,0.75);
}

html,
body {
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
	// set a scroll-margin-top if needed
}

body {

	&.menu-active {
		overflow: hidden;
		// position: fixed;
	}
}

.site {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
	min-height: 100dvh;
}

.site-main {
	display: grid;
	grid-template-columns: repeat(12, minmax(0, 1fr));
	gap: var(--gap);
}

.site-header,
.site-content,
.site-footer {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: var(--gap-double);

	> div[class*="content"] {
		grid-column: 1 / span 12;

		@include mq.mq($from: mediumlarge) {
			grid-column: 7 / span 6;
		}

		@include mq.mq($from: large) {
			grid-column: 5 / span 8;
		}
	}
}

img,
iframe,
video {
	display: block;
}

.hidden {
	display: none;
}

.display-grid {
	display: grid;
	grid-template-columns: repeat(12, minmax(0, 1fr));
	gap: var(--gap);

	.game-cover {
		grid-column: span 4;

		@include mq.mq($from: $small) {
			grid-column: span 3;
		}

		@include mq.mq($from: $medium) {
			grid-column: span 2;
		}

		@include mq.mq($from: $mediumlarge) {
			grid-column: span 3;
		}

		@include mq.mq($from: $large) {
			grid-column: span 2;
		}
	}
}
