@use "../mixins/mixins-master" as mixins;
@use "../variables-site/variables-site" as *;
@use "../mixins/mq" as mq;

:root {
	--gap: 20px;
	--gap-half: calc(var(--gap) / 2);
	--gap-double: calc(var(--gap) * 2);
}

* {
	box-sizing: border-box;
}

::selection {
	color: white;
	background: rgba($color_black,0.75);
}

html,
body {
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
	// set a scroll-margin-top if needed
}

body {

	&.menu-active {
		overflow: hidden;
		// position: fixed;
	}
}

.site {
	padding-right: var(--gap-double);
}

.site-main {
	margin-left: calc(30% + 20px);
  width: calc(70% - 20px);
}

.aside {
	position: fixed;
	top: 0;
	left: 0;
	// width: 100%;
	width: calc(30% - var(--gap));
	height: 100dvh;
}

img,
iframe,
video {
	display: block;
}

.hidden {
	display: none;
}

