@use "../mixins/mixins-master" as mixins;
@use "../variables-site/variables-site" as *;
@use "../mixins/mq" as mq;
@use 'sass:color';


.display-grid {
	display: grid;
	grid-template-columns: repeat(12, minmax(0, 1fr));
	gap: var(--gap-half);
	margin-bottom: var(--gap-double);
	max-width: 1400px;
	align-items: end;

	@include mq.mq($from: $medium) {
		gap: var(--gap);
	}

	.game-cover {
		display: block;
		position: relative;
		// z-index: -1;
		// height: 0;
		background: color.adjust($color-md_grey, $lightness: 40%) url('assets/images/megadriveme-white-keyline.svg') center center no-repeat;
		background-size: 56px 40px;
		overflow: hidden;
		color: white;
		aspect-ratio: 232/322;
		grid-column: span 4;
		text-decoration: none;

		&:after {
			content: attr(data-post-type);
			display: flex;
			justify-content: center;
			align-items: flex-end;
			width: 100%;
			height: 100%;
			line-height: 2;
			text-transform: uppercase;
    	font-family: $font__heading;
		}

		@include mq.mq($from: $small) {
			grid-column: span 4;
		}

		@include mq.mq($from: $medium) {
			grid-column: span 4;
		}

		@include mq.mq($from: $mediumlarge) {
			grid-column: span 3;
		}

		@include mq.mq($from: $large) {
			grid-column: span 2;
		}

		&.mega-cd,
		&.cover-mega-cd {
			aspect-ratio: 232/232;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: auto;
			object-fit: cover;
			pointer-events: none;
		}

		&:hover {
			.entry-header {
				transform: translateY(0);
			}
		}
	}

	&.today {
		.game-cover {
			grid-column: span 4;
		}


		&.count-4 {
			.game-cover {
				grid-column: span 3;

				@include mq.mq($from: $mediumlarge) {
					grid-column: span 3;
				}
			}
		}
	}

	.entry-header {
		display: block;
		position: absolute;
		bottom: -1px;
		left: 0;
		width: 100%;
		z-index: +1;
		transform: translateY(100%);
		transition: all 0.25s ease;
	}

	.entry-title {
		margin: 0;
		@include mixins.font-smoothing();
		@include mixins.font-size(0.8);
		line-height: 1.125;
		background-image: linear-gradient(to bottom, rgba(transparent, 0) 0, rgba(black, 0.85) 100%);
		border-bottom: 1px solid $color-md_red;
		text-shadow: 0 1px 4px rgba(black, 0.75);
		padding: 20px 10px 10px;

		@include mq.mq($from: $mediumlarge) {
			// padding: 20px;
			@include mixins.font-size(1);
		}
	}
}
