@use "../mixins/mixins-master" as mixins;
@use "../variables-site/variables-site" as *;
@use "../mixins/mq" as mq;

.site-footer {
	margin-top: auto;
	margin-left: calc(30% + 20px);
  width: calc(70% - 20px);

	@include mq.mq($from: medium) {
		@include mixins.font-size(0.75);
	}

	p {
		margin: 0;
	}
}