@use "../mixins/mixins-master" as mixins;
@use "../variables-site/variables-site" as *;
@use "../mixins/mq" as mq;
@use 'sass:color';

.game-detail-cover {
	height: 100vh;
  z-index: 999;
	
	@include mq.mq($from: mediumlarge) {
		transition: all 1.5s ease-in-out;
    will-change: all;
    height: 100%;
    top: 0;
    bottom: 0;
	}

  &.ready {		
    .cover-wrapper {
      opacity: 1;
    }
  }

  .cover-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vh 2vw;
		height: 100%;
    background-color: $color_black;
    position: relative;
    transform: translateX(0);
    opacity: 0;

    // background effect
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url('assets/images/plastic_cover.jpg') center center;
      // background-size: cover;
      mix-blend-mode: multiply;
      opacity: 0.75;
    }


    // watermark
    &:before {
      content: '';
      display: block;
      background: url('assets/images/megadriveme-white-keyline.svg') center center no-repeat;
      background-size: contain;
      width: 56px;
      height: 40px;
      position: absolute;
			z-index: +1;
      bottom: 2vh;
      right: 2vh;
      opacity: 0;
      pointer-events: none;
			transition: all 1.5s ease-in-out;
			transition-delay: 1s;

			@include mq.mq($from: large) {
				bottom: 1vh;
				right: 1vh;
			}
    }
  }

	// full screen view
	&.full-screen {
    width: 100dvw;
		filter: drop-shadow(0 20px 20px rgba(black, 1));

    &:before {
      opacity: 0.25;
    }

		.cover-wrapper {

			&:before {
				opacity: .5;
			}
		}

		.game-case {
			@include mq.mq($from: mediumlarge) {
				&:hover {
					cursor: zoom-out;
				}
			}
		}
	}

	.game-case {
		margin: 2vh 2vw;
		position: relative;
		z-index: +1;
		filter: drop-shadow(0 0 10px rgba(black, 0.5));
		transform: rotate(var(--rotate));
		max-height: 80%;
		max-width: 80%;

		&:hover {
			cursor: zoom-in;
		}

		// cover seam on right
		body.single-mega-drive & {
			background-image: linear-gradient(to right, $color_black 0%, $color_black 97%, color.adjust($color_black, $lightness: 10%) 98%, color.adjust($color_black, $lightness: 20%) 99%, black 99.5%);
			border-radius: 6px;	
		}
		// flip for Sunsoft
		body.platform-mega-drive.publisher-sunsoft:not(.game-panorama-cotton) & {
			background-image: linear-gradient(to left, $color_black 0%, $color_black 97%, color.adjust($color_black, $lightness: 10%) 98%, color.adjust($color_black, $lightness: 20%) 99%, black 99.5%);
		}

		body.single-mega-drive:not(.game-sonic-knuckles) & {
			// plastic cover effect
			&:before {
				content: '';
				display: block;
				position: absolute;
				z-index: +1;
				top: 4px;
				right: 6px;
				bottom: 4px;
				left: 0;
				background-image: url('assets/images/plastic_cover_darker.webp');
				background-size: cover;
				mix-blend-mode: multiply;

				body.platform-mega-drive.publisher-sunsoft:not(.game-panorama-cotton) & {
					transform: rotate(180deg);
				}
			}

			// spine shine
			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 4px;
				right: 10px;
				bottom: 4px;
				left: 0;
				background-image: linear-gradient(to right, rgba(white, 0.2) 0, rgba(white, 0.3) 1%, rgba(white, 0) 3% );

				body.platform-mega-drive.publisher-sunsoft & {
					top: 8px;
					right: 0;
					bottom: 8px;
					left: 16px;
					background-image: linear-gradient(to left, rgba(white, 0.2) 0, rgba(white, 0.3) 1%, rgba(white, 0) 5% );
				}
			}
		}

		body.single-mega-cd & {
			background-color: $color_black;
			border-radius: 3px;
			border-top: calc(100/40 * 2px) ridge rgba(white, 0.25);
			border-right: calc(100/40 * 2px) ridge rgba(white, 0.25);
			border-bottom: calc(100/40 * 2px) ridge rgba(white, 0.25);

			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				width: 100%;
				height: 100%;
				// border-left: calc(100/60 * 1px) ridge rgba(white, 0.25);
				background: linear-gradient( calc(var(--rotate)*10 + 90deg ), transparent 0, transparent 50%, rgba(white, 0.33) 60%, transparent 70%, transparent 85%, rgba(white, 0.23) 95%);
			}
		}

		img {
			pointer-events: none;
			height: 100%;
			max-height: 56vh;
			width: auto;
			// opacity: 0;
			// transition: all 0.5s ease-in-out;

			@include mq.mq($from: mediumlarge) {
				height: auto;
			}

			body.single-mega-drive:not(.game-sonic-knuckles) & {
				border-radius: 6px;
				border-top: 2px solid $color_black;
				border-right: clamp(2px, 5vw, 3px) solid $color_black;
				border-bottom: 2px solid $color_black;
				padding: 1px 3px 1px 0;
	
				@include mq.mq($from: mediumlarge) {
					border-top-width: 4px;
					border-right-width: 4px;
					// border-right-width: clamp(2px, 5vw, 8px);
					border-bottom-width: 4px;
				}
			}

			body.platform-mega-drive.publisher-sunsoft:not(.game-panorama-cotton) & {
				border-right: 0;
				border-left: 10px solid $color_black;
				border-top-width: 8px;
				border-bottom-width: 8px;
				padding: 2px 0 2px 12px;
			}
		}
	}

	// some Mega CD titles are still shrinkwrapped with spine cards
	&:not(.shrinkwrapped) {
		picture {
			body.single-mega-cd & {
				padding-left: calc(600/70 * 0.5%);
	
				&:before {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					width: calc(600/80 * 1%);
					height: 100%;
					background-image: repeating-linear-gradient(90deg, rgba(white, 0.15), $color_black 4%, rgba(black, 0.15) 9% );
					border-top: 1px solid rgba(white, 0.25);
					border-right: 1px solid rgab(white, 0.7);
					border-bottom: 1px solid rgba(black, 0.75);
					border-left: 1px solid rgab(white, 0.2);
				}
	
				&:after {
					width: calc(100% - (600/80 * 1%));
				}
			}
		}

		img {
			// mega cd style
			body.single-mega-cd & {
				// padding-left: calc(600/70 * 1%);
				background-color: $color_black;
				border-top: calc(100/40 * 1px) solid rgba(black, 0.75);
				border-right: calc(100/40 * 2px) solid rgba(black, 0.75);
				border-bottom: calc(100/40 * 1px) solid rgba(black, 0.75);
			}
		}
		
	}
}
