@use "../mixins/mixins-master" as mixins;
@use "../variables-site/variables-site" as *;
@use "../mixins/mq" as mq;
@use 'sass:color';

body[class*="home"] {

  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    container-type: inline-size;
  }
  
  .section-title {
    font-weight: 200;
    margin-bottom: var(--gap);
    line-height: 1;
    font-size: 5cqw;
  }

  h2.section-title {
    font-size: 5cqw;
  }
  
  .showcase {
    // display: none;
    background-color: $color_black;
	  z-index: 999;

    .showcase-content {
      position: sticky;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .swiper-wrapper {
      align-items: stretch;
    }

    .swiper-slide {
      height: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}