@use "../mixins/mixins-master" as mixins;
@use "../variables-site/variables-site" as *;

.btn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color_md-grey;
	background: transparent;
	color: $color_md-grey;
	@include mixins.font-size(0.75);
	line-height: 1;
	padding: 10px 20px;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}


.view-all {
	border: 1px solid $color_md-grey;
	color: $color_md-grey;
	// @include mixins.font-size(0.75);
	font-weight: 300;
	line-height: 1;
	padding: 10px 10px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	transition: all 0.25s ease;
	min-height: 40px;
	font-size: 1rem;

	&:hover {
		color: white;
		background-color: $color_md-green;
		border-color: $color_md-green;
	}
}