@font-face {
  font-family: "Mega Driva Three";
  src: url("assets/fonts/mega-drive.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap; 
}

@font-face {
  font-display: swap; 
  font-family: 'Seed';
  font-style: normal;
  font-weight: 300;
  src: url('assets/fonts/LINESeedJP_OTF_Th.woff2') format('woff2'); 
}
@font-face {
  font-display: swap; 
  font-family: 'Seed';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/LINESeedJP_OTF_Rg.woff2') format('woff2'); 
}
@font-face {
  font-display: swap; 
  font-family: 'Seed';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/LINESeedJP_OTF_Bd.woff2') format('woff2'); 
}
@font-face {
  font-display: swap; 
  font-family: 'Seed';
  font-style: normal;
  font-weight: 800;
  src: url('assets/fonts/LINESeedJP_OTF_Eb.woff2') format('woff2'); 
}